<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <h1 class="display-4">
      feed
    </h1>

    <p class="lead text-muted">posts by people you follow</p>
  </div>
</div>

<div id="feed">
  <% @feed.each do |photo| %>
    <%= render "photos/photo", photo: photo %>
  <% end %>
</div>

<% unless @feed.out_of_range? %>
  <%= turbo_frame_tag :next_page, class: "d-flex justify-content-center", src: feed_path(username: @user.username, page: @feed.next_page, format: :turbo_stream), loading: :lazy do %>
    <i class="display-1 fa-solid fa-spinner fa-spin-pulse"></i>
  <% end %>
<% end %>
